body{
     text-align: center;
     background-color: aqua;
}
.capa{
  width: 100%;
}
.capa{
     width: 100% ;
}
.beneficios{
 } .foto-beneficios{ background-color: bisque;
     
     text-align: left ;
}